* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: #0a0a0a;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  background: #151515;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 212, 255, 0.15);
}

.card h2 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background: #252525;
  color: white;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #00d4ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.link-btn {
  background: transparent;
  border: 1px solid #00d4ff;
  color: #00d4ff;
}



.subjects {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
}

.subject-card {
  background: #252525;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
  transition: .3s;
}

.subject-card:hover {
  background: #333;
}

.subject-card.active {
  background: #00d4ff;
  color: black;
  font-weight: bold;
}


.attendance-box {
  text-align: center;
  padding: 25px;
  background: #252525;
  border-radius: 15px;
  margin-bottom: 20px;
}

.attendance-box h1 {
  color: #00d4ff;
  font-size: 50px;
}

.stats {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.stat {
  flex: 1;
  text-align: center;
  background: #252525;
  padding: 15px;
  border-radius: 15px;
}

.stat h3 {
  color: #00d4ff;
}



.message {
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
}

.success {
  background: rgba(34, 197, 94, 0.2);
  color: #22c55e;
  border: 1px solid #22c55e;
}

.error {
  background: rgba(239, 68, 68, 0.2);
  color: #ef4444;
  border: 1px solid #ef4444;
}


.logout-btn {
  background: #ef4444;
  color: white;
  margin-top: 10px;
}

.logout-btn:hover {
  opacity: 0.9;
}



select {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background: #252525;
  color: white;
  font-size: 15px;
}





